h1, h2, h3, h4{
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-size: 70px;
  margin: 10px
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

body {
  margin: none;
}

#canvas { height:75%;}

.nav {
  margin-top: 10px;
  font-size: 2em;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Pangolin", cursive;

  }
.nav_links{
  margin: 0px 30px;
  color:#DD443C;
  }
